* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ADEFD1FF;
}

.wrapper {
	background-color: #00203FFF;
	width: 500px;
	margin: auto;
	border-radius: 12px;
	box-shadow: 22px 20px 50px #00203FFF;
}

.Heading {
	color: white;
	text-align: center;
	height: 50px;
	margin-top: 140px;
	padding-top: 5px;
}

.container {
	color: white;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.container .userValue {
	padding: 15px 25px;
}

.container .userValue input {
	margin-top: 15px;
	width: 450px;
	height: 35px;
	font-size: 20px;
	border-radius: 12px;
	text-align: center;
}

.container .userValue input:hover {
	opacity: 70%;
}

.container .userValue button {
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: #00203FFF;
	border-radius: 12px;
}

.container .userValue button:hover {
	background-color: #00203FFF;
	color: #ADEFD1FF;
	border: 1px solid white;
	opacity: 80%;
	box-shadow: 1px 1px 20px #ADEFD1FF;
}

.container .userValue .display {
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;	
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #00203FFF;
}